.App {
    text-align: center;
}

.r1 {
    opacity: .8;
}

.r2 {
    opacity: .55;
}

.r3 {
    opacity: .3;
}

#rewindText {
    opacity: 0;
}


::-moz-selection {
    background: #FD0F57;
    color: white
}

::selection {
    background: #FD0F57;
    color: white;
}


@keyframes heart-animation {
    0% {
        background-position-y: 0%;
    }
    100% {
        background-position-y: 100%;
    }
}
