.r1 {
    opacity: .8;
}

.r2 {
    opacity: .55;
}

.r3 {
    opacity: .3;
}

#rewindText {
    opacity: 0;
}

@keyframes rotate {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(-360deg);
    }
}
